{
    "extends": "airbnb-base",
    "env" : {
        "node": true,
        "mocha": true
    },
    "rules": {
        "max-lines-per-function" : ["error", 30],
        "no-plusplus" : ["error", { "allowForLoopAfterthoughts": true }],
        "no-unused-vars": [
            "error",
            {
              "varsIgnorePattern": "should|expect|Before|After|Given"
            }
        ]
    }
}